/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  * {
    box-sizing: border-box;
  }
}

.container {
  width: 50%;
  margin: 0 auto;
}

button {
  border: none;
  background: #000;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: .7rem;
  transition: all .5s;

  &:hover, &:active {
    background-color: #535353;
    cursor: pointer;
  }

  &:disabled {
    color: #383838;
    background: #C1C1C1;
  }
}

.caption {
  text-align: center;
}