table {
  border-collapse: collapse;
  width: 100%;

  td {
    border: 1px solid black;
    padding: .4rem;
    width: 50%;
  }
}

.sum {
  text-align: right;
}
.label {
  text-align: center;
}

.action-buttons {
  
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;

  button {
    width: 49%;
  }
}

.error {
  color: red;
  padding: 1rem;
  text-align: center;
}